<form method="post" action="/result">
<div class="m-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="text" class="form-control" name="username" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="m-3">
  <label for="exampleFormControlInput1" class="form-label">password </label>
  <input type="password" class="form-control" name="password" id="exampleFormControlInput1" placeholder="password">
</div>
<div class="m-3">
  <label for="submit" class="form-label">submit</label>
  <<input type="submit" class="form-control" >
</div>
</form>